.logo {
  width: 30%;
  margin-left: 30px;
}

.navBar {
  position: fixed;
  width: 100%;
}

.sideBar {
  position: fixed;
  height: 100%;
  width: 6%;
  z-index: 5;
  top: 5em;
  padding: 48px 0 0;
}

.sidebarBtn {
  display: flex;
  width: auto;
  flex-direction: column;
  margin-top: 24em;
}

.content {
  display: flex;
  width: auto;
  justify-content: left;
  margin-left: 10%;
}

.contentMenu {
  margin-top: 8%;
}

.order {
  margin-left: 30em;
  margin-top: -6%;
}

.button {
  display: flex;
  width: auto;
  position: fixed;
}

.product {
  display: flex;
  width: auto;
  flex-direction: row;
  margin-top: 2%;
}

.dataProducts {
  display: flex;
  width: auto;
  flex-direction: row;
  margin-top: 6%;
}

.btnOrder {
  outline: none;
  border-color: none;
  border-radius: 10px;
  background-color: rgb(69, 231, 69);
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: x-small;
  margin-left: 200%;
  margin-top: 35%;
}
